<form action="/auth/forgot" method="POST">
<label for="email">Email</label>
<input type="email" name="email" id="email" autofocus required>
<button>Reset password</button>
</form>

  {{!-- form(method='POST')
    legend Forgot Password
    .form-group
      label(for='email') Email
      input.form-control(type='text', name='email', autofocus)
    button.btn.btn-primary(type='submit') Reset Password --}}