<h1>Reset password</h1>
<form action="/auth/reset/{{user.resetPasswordToken}}" method="POST">
<label for="password">Password</label>
<input type="password" name="password" id="password" placeholder="New password" value='' autofocus><br>
<label for="confirm">Confirm Password</label>
<input type="password" name="confirm" value='' id="confirm" placeholder="Confirm password">
<button type="submit">Update Password</button>
</form>

{{!-- block content
  form(method='POST')
    legend Reset Password
    .form-group
      label(for='password') New Password
      input.form-control(type='password', name='password', value='', placeholder='New password', autofocus=true)
    .form-group
      label(for='confirm') Confirm Password
      input.form-control(type='password', name='confirm', value='', placeholder='Confirm password')
    .form-group
      button.btn.btn-primary(type='submit') Update Password --}}
