<div id="signup-container">
  <form action="/auth/reset/{{user.resetPasswordToken}}" method="POST" class="needs-validation sign-form">
    <div class="mb-3">
      <h1>Reset password</h1>
      <label for="validationCustomUsername" class="form-label">Password</label>
      <div class="input-group has-validation">
        <input type="password" class="form-control" name="password" id="password" id="validationCustomUsername"
          minlength="6" maxlength="10" autofocus>
        <div class="invalid-feedback">
          Please introduce a valid password.
        </div>
      </div>
    </div>
    {{#if errorMessage}}
    <p class="error-message">{{errorMessage}}</p>
    {{/if}}
    <button class="button" type="submit">Update Password</button>
  </form>
</div>

<script src="/javascripts/validation-script.js"></script>