
<form method="POST" action="/auth/signup" class="needs-validation" novalidate>
  
  <div class="mb-3">
    <h1>Join us</h1><br>
    <label for="validationCustomUsername" class="form-label">Username</label>
    <div class="input-group has-validation">
      <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" name="email" required>
      <div class="invalid-feedback">
        Please choose a username.
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="validationCustom03" class="form-label">Email</label>
    <input type="email" class="form-control" id="validationCustom03" name="email" required>
    <div class="invalid-feedback">
      Please provide a valid email.
    </div>
  </div>
  <div class="mb-3">
    <label for="validationCustom05" class="form-label">Password</label>
    <input type="password" class="form-control" id="validationCustom05" name="password" minlength="6" maxlength="10" required>
    <div class="invalid-feedback">
      Please provide a valid password, the length should be between 6 and 10 characters.
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Join</button>
  </div>
  {{#if errorMessage}}
  <div>
   <p class="error-message"> {{ errorMessage }}</p>
  </div>
{{/if}}
 <p>Already a member? <a href="/auth/login">Log in</a></p>
</form>

<script>
(function () {
  'use strict'
  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>


