<div id="services-container">
    {{#each services}}
        <div class="card service-box">
            <img src="{{image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{user_id.username}}</h5>
                <p class="card-text">{{description}}</p>
            </div>
        </div>
    {{/each}}
</div>
