<form class="service-form needs-validation" action="/service/{{service._id}}/edit" method="POST"
    enctype="multipart/form-data">
    <div class="mb-3">
        <h1>Edit your service</h1>
        <label for="description-input" class="form-label">Description</label>
        <textarea type="textarea" rows="8" class="form-control" id="description-input"
            name="description">{{service.description}}</textarea>
    </div>
    <div class="mb-3">
        <label for="price-input" class="form-label">Price</label>
        <input type="number" class="form-control" id="price-input" name="price" value={{service.price}}>
    </div>
    <div class="mb-3">
        <label for="category-input" class="form-label">Category</label>
        <select id="category-input" class="form-select" name="category">
            {{#each categories}}
                <option>{{name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="mb-3">
        <label for="location-input" class="form-label">Location</label>
        <input type="text" class="form-control" id="location-input" name="location">
        <div id="geocoder" class="geocoder"></div>
    </div>
    <div class="mb-3">
        <label for="file-input" class="form-label">Service image</label>
        <input class="form-control" type="file" id="file-input" name="image">
    </div>
    <button type="submit" class="button">Submit</button>
</form>

<!-- Mapbox import -->
<script src="/javascripts/geocoder.js"></script>