.profile-img{
    width: 85px;
    position: relative;
}
.img-row{
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    align-items: center;
    justify-content: space-between;
 
}
.profile-info{
    display: flex;
    flex-direction: column;
    margin: 10%;	
}
.pencil-img{
    width: 15px;
    display: inline;
    position: absolute;
    top: 17px;
    right: 7.5px;
}
.pencil-img:hover{
    color: white;
}
.img-pen-div{
    display: inline-block;
    position: relative;
    width: 85px;
}
.my-services h2{
    display: inline;
    margin: 10%;
}
.needs-validation{
    margin: 50% 20% 10%;
}
.delete-button{
    border: none;
    color: red;
    text-decoration: underline;
    background: none;
    margin: 8%;
}