.profile-img{
    width: 85px;
    position: relative;
}
.img-row{
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    align-items: center;
    justify-content: space-between;
 
}
.profile-info{
    display: flex;
    flex-direction: column;
    margin: 10%;	
}
.pencil-img{
    width: 15px;
    display: inline;
    position: absolute;
    top: 17px;
    right: 7.5px;
}
.img-pen-div{
    display: inline-block;
    position: relative;
    width: 85px;
}
.my-services h2{
    display: inline;
    margin: 10%;
}
.sign-form{
    margin: 5% 10%;
}
.sign-form h1{
	margin-bottom: 20px;
}
.delete-button{
    border: none;
    color: red;
    text-decoration: underline;
    background: none;
    margin: 0 10% 0;
}
.back-img{
    position: relative;
}
.fa-pen{
    color: white;
    display: inline;
}
.pencil-btn{
    background-color: black;
    position: absolute;
    height: 30px;
    width: 30px;
    top: 8px;
    right: 5px;
    border-radius: 50%;
    border: none;
    opacity: 0.4;
    transition: 0.3s;
}
.pencil-btn:hover{opacity: 1}
.fa-trash-alt{
    color: white;
    display: inline;
}
.trash-btn{
    background-color: black;
    position: absolute;
    height: 30px;
    width: 30px;
    top: 115px;
    right: 5px;
    border-radius: 50%;
    border: none;
    opacity: 0.4;
    transition: 0.3s;
}
.trash-btn:hover{opacity: 1}
.table{
    table-layout: fixed;
}
.table-rows td{
   width: 80%; 
}
.my-score{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;
}
.my-score > span{
    vertical-align: text-bottom;
    align-self: baseline;
}
.button-social{
    width: 100%;
    
}