/* RESETS */
body,
html {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	font-size: 10px;
}
p,
h1 {
	margin: 0;
	padding: 0;
}

/* COMMON STYLES */
body {
	display: flex;
	flex-direction: column;
}
#categories-container,
#noservices-label-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
main {
	flex: 1;
}
.button{
	width: 100%;
	height: 30px;
	font-size: 1.6rem;
	font-weight: 600;
	border-radius: 15px;
}

/* NAV BAR STYLES */
.navbar {
	height: 60px;
	margin-bottom: 20px;
	border-bottom: 1px solid #C1C1C1;
}
.navbar-brand{
	font-size: 2rem;
	font-weight: 700;
}
.navbar input {
	width: 200px;
	height: 35px;
	border-radius: 30px;
	font-size: 1.4rem;
	padding-left: 15px;
}
.navbar .fa-search{
	font-size: 1.6rem;
	margin-top: 2px;
}
.navbar button{
	border-radius: 10px;

}

/* INDEX STYLES */
#categories-container {
	width: 80%;
	flex-wrap: wrap;
	margin: 0 auto;
}
.category-icon {
	height: 100px;
	margin: 20px;
}
.category-container p{
	text-align: center;
	font-size: 1.4rem;
	margin-bottom: 8px;
}

/* SERVICES LIST STYLES */
#services-title-label{
	margin: 20px 20px 0px 20px;	
}
#services-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#services-container a{
	text-decoration: none;
	color: black;
}
#services-container a:hover{
	color: black;
}
.service-box {
	width: 150px !important;
	height: 265px !important;
	margin: 7px;
	box-shadow: 2px 2px 2px 0px rgba(179,179,179,1)
}
.card-image-service {
	height: 150px;
	object-fit: cover;
}
.card-top,
.rate-box,
#user-top{
	display: flex;
	align-items: center;
}
.card-top{
	margin-bottom: 5px;
}
.user-avatar{
	height: 15px;
	margin-right: 5px;
}
.card-text,
.rate-text{
	font-size: 1.2rem;
}
.card-text{
	height: 54px;
	overflow: hidden;
  	text-overflow: ellipsis;
}
.card-username{
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}
.card-bottom{
	display: flex;
	justify-content: space-between;
}
.card-star{
	height: 15px;
	margin-right: 3px;
}
.card-price{
	font-size: 1.4rem;
	font-weight: 600;
}
#noservices-label-container{
	height: 100%;
	flex-direction: column;	
}
#empty-list {
	width: 70%;
	max-width: 700px;
	margin-top: 10px;
}

/* SERVICE SCREEN STYLES */
#service-container{
	margin: 20px 20px 0px 20px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}
#service-description{
	margin: 10px 0px 10px 0px;
	font-size: 1.6rem;
	overflow: hidden;
	text-overflow: ellipsis;
}
#image-service-box,
#map{
	align-self: center;
}
#map{
	width: 335px;
	height: 200px;
}
.image-service{
	width: 335px;
	max-height: 300px;
	object-fit: cover;
}
#user-box{
	width: 100%;
	max-height: 24px;
	display: flex;
	justify-content: space-between;
	font-size: 1.6rem;
	margin: 10px 0px 20px 0px;
}
.rate-box{
	min-width: 42px;
}
#service-username{
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 600;
	max-width: 200px;
}
#service-btn-container{
	width: 100%;
	margin: 15px 0px 20px 0px;
}

/* FOOTER STYLES */
footer {
	position: sticky;
	bottom: 0;
	min-width: 100%;
	min-height: 70px;
	display: flex;
	align-items: center;
	margin-top: 20px !important;
	border-top: 1px solid #C1C1C1;
}
footer .row {
	width: 100%;
}
.footer-icon {
	height: 40px;
}
